.post-list {
  padding: 0;

  .post-thumbnail {
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    min-width: 200px;
    height: 100px;
    border-radius: 5px;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  .post-item {
    margin-bottom: 1rem;
    margin-left: 0;
    list-style-type: none;
    display: block;

    .meta {
      display: block;
      margin-right: 16px;
      min-width: 100px;
      color: $color-meta;
      font-size: 14px;
    }
  }
}
@media (min-width: 480px) {
  .post-list {
    .post-item {
      display: flex;
      margin-bottom: 5px;
      flex-direction: column;

      .meta {
        text-align: left;
      }

      .post-thumbnail {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .post-list {
    .post-item {
      display: flex;
      flex-direction: column;

      .post-thumbnail {
        margin-bottom: 1rem;
      }
    }
  }
}

.project-list {
  padding: 0;
  list-style: none;

  .project-item {
    margin-bottom: 5px;
    p {
      display: inline;
    }
  }
}